POSTGRES_USER=metam
POSTGRES_PASSWORD=change-this-in-production
POSTGRES_DB=metam
PGADMIN_DEFAULT_EMAIL=admin@metam.local
PGADMIN_DEFAULT_PASSWORD=change-this-in-production
LOG_LEVEL=INFO
ENABLE_PUBLIC_DEMO=false
PUBLIC_DEMO_TOKEN_MINUTES=120
